{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width">
  <div class="customer register section-{{ section.id }}-padding">
    <h1>
      {{ 'customer.register.title' | t }}
    </h1>
    <div class="register-wrapper">
      <div class="register_from_wrapper">    
        {%- form 'create_customer', novalidate: 'novalidate' -%}
          {%- if form.errors -%}
            <h2 class="form__message" tabindex="-1" autofocus>
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            <ul>
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#RegisterForm-{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
          <div class="customer__fields">
          <div class="field">
            <input
              type="text"
              name="customer[first_name]"
              id="RegisterForm-FirstName"
              {% if form.first_name %}
                value="{{ form.first_name }}"
              {% endif %}
              autocomplete="given-name"
              placeholder="{{ 'customer.register.first_name' | t }}"
            >
            <label for="RegisterForm-FirstName">
              {{ 'customer.register.first_name' | t }}
            </label>
          </div>
          <div class="field">
            <input
              type="text"
              name="customer[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}
                value="{{ form.last_name }}"
              {% endif %}
              autocomplete="family-name"
              placeholder="{{ 'customer.register.last_name' | t }}"
            >
            <label for="RegisterForm-LastName">
              {{ 'customer.register.last_name' | t }}
            </label>
          </div>
          </div>
          <div class="field">
            <input
              type="email"
              name="customer[email]"
              id="RegisterForm-email"
              {% if form.email %}
                value="{{ form.email }}"
              {% endif %}
              spellcheck="false"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-email-error"
              {% endif %}
              placeholder="{{ 'customer.register.email' | t }}"
            >
            <label for="RegisterForm-email">
              {{ 'customer.register.email' | t }}
            </label>
          </div>
          {%- if form.errors contains 'email' -%}
            <span id="RegisterForm-email-error" class="form__message">
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}.
            </span>
          {%- endif -%}
        
          <div class="field">
            <input
              type="password"
              name="customer[password]"
              id="RegisterForm-password"
              aria-required="true"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-password-error"
              {% endif %}
              placeholder="{{ 'customer.register.password' | t }}"
            >
            <label for="RegisterForm-password">
              {{ 'customer.register.password' | t }}
            </label>
          </div>
          {%- if form.errors contains 'password' -%}
            <span id="RegisterForm-password-error" class="form__message">
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              {{ form.errors.translated_fields.password | capitalize }}
              {{ form.errors.messages.password }}.
            </span>
          {%- endif -%}      
          <div class="b2b_checkbox_wrapper">
            <input type="checkbox" name="is_b2b" value="Yes" id="RegisterForm-isb2b">
            <label for="RegisterForm-isb2b">{{ 'customer.register.b2b_checkbox' | t }}</label>
          </div>
          <button>
            {{ 'customer.register.submit' | t }}
          </button>
        {% if section.settings.login_link != blank %}
          <div class="login_link_wrapper">{{ section.settings.login_link }}</div>
          {% endif %}
        {%- endform -%}
      </div>
      <div class="register_info_wrapper">
        {% if section.blocks.size > 0 %}
          <div class="register_info_inner">
            {% for block in section.blocks %}
              <div class="register_info_box">
                {% if block.settings.heading != blank %}<h2 class="h2 box-title">{{ block.settings.heading }}</h2>{% endif %}
                {% if block.settings.content != blank %}
                  <div class="box-content rte">
                    {{ block.settings.content }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const checkbox = document.getElementById('RegisterForm-isb2b');
    const label = document.querySelector('.b2b_checkbox_wrapper');
    const b2bFieldsHtml = `
        <div class="b2b_fields">
            <div class="field">
                <input
                    type="text"
                    name="customer[note][company_name]"
                    id="RegisterForm-companyName"
                    placeholder="{{ 'customer.register.company_name' | t }}"
                >
                <label for="RegisterForm-companyName">
                    {{ 'customer.register.company_name' | t }}
                </label>
            </div>
            <div class="field">
                <input
                    type="text"
                    name="customer[note][phone_number]"
                    id="RegisterForm-phone_number"
                    placeholder="{{ 'customer.register.phone_number' | t }}"
                >
                <label for="RegisterForm-phone_number">
                    {{ 'customer.register.phone_number' | t }}
                </label>
            </div>
        </div>
    `;

    function toggleB2BFields() {
        const existingB2BFields = document.querySelector('.b2b_fields');
        
        if (checkbox.checked) {
            // If checkbox is checked and fields don't exist, add them after the label
            if (!existingB2BFields) {
                label.insertAdjacentHTML('afterend', b2bFieldsHtml);
            }
        } else {
            // If checkbox is unchecked and fields exist, remove them
            if (existingB2BFields) {
                existingB2BFields.remove();
            }
        }
    }

    // Initial check on page load
    toggleB2BFields();

    // Add event listener for checkbox changes
    checkbox.addEventListener('change', toggleB2BFields);
});

</script>
{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "inline_richtext",
      "label": "Login link",
      "id": "login_link"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks":[
    {
      "type":"info_box",
      "name":"Info box",
      "settings":[
        {
          "type":"text",
          "label":"Heading",
          "id":"heading"
        },
        {
          "type":"richtext",
          "label":"Content",
          "id":"content"
        }
      ]
    }
  ]
}
{% endschema %}
